/*Montserrat Schriftart*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Allgemeine Anpassungen*/
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   scroll-behavior: smooth;

   font-family: "Montserrat";
}
/*HINTERGRUNDBILDER AUD DEN VERSCHIEDENEN SEITEN*/
.index-body {
   background-image: url(../img/index/hintergrund.jpg);
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
}
.about-body {
   background-image: url(../img/about/hintergrund.png);
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
}
.idols-body {
   background-image: url(../img/idols/hintergrund.jpg);
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
}
.blog-body {
   background-image: url(../img/blog/hintergrund.jpg);
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
}
.filmmaking-body {
   background-image: url(../img/filmmaking/hintergrund.png);
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
   h1 {
      color: white;
      font-size: 40pt;
      line-height: 90pt;
      text-align: center;
      text-shadow: 6px 6px 5px rgb(0, 0, 0);
   }
}
.mywork-body {
   background-image: url(../img/mywork/hintergrund.png);
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
   h1 {
      color: white;
      font-size: 90pt;
      margin-top: 120px;
      line-height: 90pt;
      text-align: center;
      text-shadow: 6px 6px 5px rgb(0, 0, 0);
   }
}
.gallery-body {
   background-image: url(../img/gallery/hintergrund.png);
   background-size: cover;
   background-position: top center;
   background-attachment: fixed;
}
/*NAVIGATION (OBEN RECHTS) nur auf index.html*/

.nav {
   position: absolute;
   right: 20px;
   top: 0;
   display: flex;
   flex-direction: column;
   justify-content: right;
   .nav-class {
      display: flex;
      justify-content: space-evenly;
      margin-top: 30px;

      a {
         color: white;
         font-size: 30pt;
         font-weight: 900;
         margin-left: 30px;
         border: solid 8px white;
         padding: 10px;
         text-shadow: 6px 0px 10px black;
         box-shadow: 6px 0px 10px black;
         text-decoration: none;

         text-transform: uppercase;
      }
   }
}
/*NAVIGATION (OBEN) auf allen Seiten außer index.html*/
.nav-1 {
   position: fixed;
   top: 0;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;

   height: 100px;
   background-color: rgba(0, 0, 0, 0.678);

   z-index: 200;

   width: 100vw;

   a {
      color: white;
      font-size: 20pt;
      font-weight: 500;
      padding: 10px;
      text-decoration: none;
      transition: ease-in-out 0.1s;
      text-transform: uppercase;
   }
   a:hover {
      border-top: solid white 2px;
   }
}
/*DIE GRO?EN BILDER VON MIR AUF DEN VERSCHIEDENEN SEITEN (LINKS)*/
.ich-img img {
   height: 85vh;
   width: auto;
   position: fixed;
   bottom: 0px;
   left: 40px;
}
.index-ich-img img {
   height: 85vh;
   width: auto;
   position: fixed;
   bottom: 0px;
   left: 0px;
}
.ich-mywork-img img {
   height: 85vh;
   width: auto;
   position: fixed;
   bottom: 0px;
   left: 0px;
}
.filmmaking-ich-img img {
   position: fixed;
   bottom: 0;
   left: 0;

   height: 85vh;
}
/*Zitat auf index.html*/
.zitat-container {
   position: absolute;
   bottom: 10px;
   right: 100px;
   p {
      color: white;
      font-size: 50pt;
      font-weight: 700;
      text-align: right;

      text-shadow: 6px 0px 10px black;
   }
   .under-zitat p {
      font-size: 40pt;
   }
}
/*MYWORK.HTML*/
.mywork-in-container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: center;

   .mywork-img {
      img {
         width: 400px;
      }
   }
}
.mywork-container {
   display: flex;
   flex-direction: column;

   margin-left: 35%;
   margin-top: 130px;
}
/*VIMEO PLAYER / INSTAGRAM BILD (EINGEBETTET) GRÖSSE angepasst*/
.vimeo {
   z-index: 100;
   margin-right: 20px;
   iframe {
      width: 550px;
   }
}
.instagram {
   z-index: 101;
   margin-right: 20px;
   width: 400px;
}
/*ABOUT.HTML*/
.about-container {
   width: 99vw;

   margin-left: 50%;
   transform: translateX(-50%);

   display: flex;
   justify-content: space-around;

   align-items: center;

   position: absolute;
   bottom: 10%;
   /*LINKS UND RECHTS STEHEN FÜR DIE SEITEN DER TEXT-CONTAINER*/
   .left,
   .right {
      width: 30vw;
   }
   p {
      font-size: 20pt;
      color: white;
      font-weight: 600;
      text-shadow: 3px 3px 10px black;
   }
   h1 {
      color: white;
      font-size: 40pt;
      text-shadow: 3px 3px 10px black;
   }
}
/*FILMMAKING.HTML*/
.filmmaking-container {
   display: flex;
}
.filmmaking-img {
   display: flex;
   flex-direction: column;

   margin-top: 120px;
   margin-right: 40px;
   img {
      width: 30vw;
      margin-top: 50px;
   }
}
.filmmaking-text {
   margin-left: 41vw;
   margin-top: 170px;
   margin-right: 20px;
   p {
      color: rgb(255, 255, 255);
      font-size: 20pt;
      font-weight: 600;
      text-shadow: 6px 6px 5px rgb(0, 0, 0);
   }
   h1 {
      color: white;
      text-align: center;
      line-height: 41pt;
   }
}
/*GALLERY.HTML*/
.gallery {
   width: 95vw;
   margin-left: 50%;
   transform: translateX(-50%);

   margin-bottom: 100px;

   display: flex;
   flex-direction: column;
   img {
      width: 40vw;
      border-radius: 20px;
   }
   .v {
      display: flex;
      justify-content: space-evenly;
      margin-top: 30px;
   }
}
.gallery-body h1 {
   color: white;
   font-size: 90pt;
   margin-top: 120px;
   line-height: 90pt;
   text-align: center;
   text-shadow: 6px 6px 5px rgb(0, 0, 0);
}
/*IDOLS.HTML*/
.idols-img {
   display: flex;
   flex-direction: column;
   margin-left: 30vw;
   .row1 {
      display: flex;
      justify-content: space-evenly;
      img {
         height: 40vh;
         border-radius: 20px;
      }
   }
   .row2 {
      display: flex;
      justify-content: space-evenly;
      margin-top: 40px;
      margin-bottom: 100px;
      img {
         height: 60vh;
         border-radius: 20px;
      }
   }
}
.idols-body h1 {
   color: white;
   font-size: 90pt;
   margin-top: 120px;
   line-height: 90pt;
   text-align: center;
   text-shadow: 6px 6px 5px rgb(0, 0, 0);
   margin-top: 140px;
}
.im {
   small {
      color: white;
      font-size: 20pt;
      text-align: center;
   }
}
/*CONTACT.HTML*/
.contactform {
   margin-left: 50%;
   transform: translateX(-50%);
   margin-top: 120px;
   input,
   textarea {
      width: 100%;

      padding: 7px;
      margin-top: 10px;
      border-radius: 10px;
      background: rgb(160, 160, 160);
      border: none;
      resize: none;
   }
   h1 {
      color: white;
      font-size: 90pt;
      line-height: 90pt;
      text-align: center;
      text-shadow: 6px 6px 5px rgb(0, 0, 0);
   }
   button {
      background-color: green;
      padding: 15px;
      font-size: 15pt;
      border: none;
      color: white;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 10px;
      border-radius: 60px;
      transition: ease-in-out 0.5s;
   }
   button:hover {
      background-color: rgb(0, 83, 0);
   }
}
/*BLOG.HTML*/
.blog-container {
   width: 50vw;
   height: 100%;

   background-color: rgba(0, 0, 0, 0.61);

   margin-top: 10%;
   margin-bottom: 10%;
   margin-left: 3%;

   padding: 2%;
   h1 {
      font-size: 50pt;
   }

   p,
   h1,
   small {
      color: white;
   }
}
.blog-text {
   margin-top: 40px;
   p {
      font-size: 15pt;
   }
   p,
   h1,
   small {
      color: white;
   }
}

/*VERÄNDERUNGEN AUF DER SEITE WENN DER BILDSCHIRM UNTER 900px BREIT IST (RESPONSIVE*/
@media only screen and (max-width: 900px) {
   /*NAVIGATION RESPONSIVE*/
   .nav-1 {
      flex-direction: column;
      background-color: black;
      height: 500px;
      position: absolute;
      width: 100%;
   }
   /*FILMMAKING RESPONSIVE*/
   .filmmaking-body {
      h1 {
         font-size: 40pt;
      }
   }
   .filmmaking-ich-img {
      display: none;
   }
   .filmmaking-container {
      margin-top: 600px;
      display: block;
   }
   .filmmaking-text {
      width: 95vw;
      display: block;
      margin-left: 1vw;
   }
   .filmmaking-img {
      margin-top: 10px;
      img {
         width: 95vw;
      }
   }
   /*GALLERY RESPONSIVE*/
   .gallery-body {
      h1 {
         margin-top: 500px;
         font-size: 50pt;
      }
      .gallery {
         margin-top: 10px;
      }
      .v {
         flex-direction: column;
         margin-top: 0px;
         img {
            width: 95vw;
            height: auto;
            margin-top: 10px;
            border-radius: 0px;
         }
      }
   }
   /*ABOUT RESPONSIVE*/
   .about-container {
      flex-direction: column;
      position: relative;
      margin-top: 500px;
      .left,
      .right {
         width: 100%;
      }
   }
   /*MYWORK RESPONSIVE*/
   .mywork-body {
      h1 {
         margin: 0px;
         margin-top: 550px;
         padding: 0px;
         font-size: 50pt;
      }
   }
   .ich-mywork-img {
      display: none;
   }
   .mywork-container {
      margin-left: 0px;
      margin-top: 10px;
   }
   .mywork-in-container {
      flex-direction: column;
   }
   .vimeo {
      margin-right: 0px;
      iframe {
         width: 100vw;
      }
   }
   .instagram {
      margin-right: 0px;
      width: 100%;
   }
   /*CONTACT ReSPONSIVE*/
   .contactform {
      margin-top: 500px;
   }
   /*BLOG RESPONSIVE*/
   .blog-container {
      width: 100%;
      height: 100%;

      margin-top: 500px;
      margin-bottom: 10%;
      margin-left: 0px;

      padding: 0px;
      h1 {
         font-size: 50pt;
      }
   }
   .blog-text {
      margin-top: 40px;
      p {
         font-size: 15pt;
      }
   }
}
