/*Montserrat Schriftart*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Allgemeine Anpassungen*/
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Montserrat";
}

.index-body {
  background-image: url(../img/index/hintergrund.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.about-body {
  background-image: url(../img/about/hintergrund.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.idols-body {
  background-image: url(../img/idols/hintergrund.jpg);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.filmmaking-body {
  background-image: url(../img/filmmaking/hintergrund.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.mywork-body {
  background-image: url(../img/mywork/hintergrund.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.gallery-body {
  background-image: url(../img/gallery/hintergrund.png);
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

/*NAVIGATION (OBEN RECHTS)*/
.nav {
  position: absolute;
  right: 20px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.nav .nav-class {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

.nav .nav-class a {
  color: white;
  font-size: 30pt;
  font-weight: 900;
  margin-left: 30px;
  border: solid 8px white;
  padding: 10px;
  text-shadow: 6px 0px 10px black;
  -webkit-box-shadow: 6px 0px 10px black;
          box-shadow: 6px 0px 10px black;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-1 {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.678);
  z-index: 200;
  width: 100vw;
}

.nav-1 a {
  color: white;
  font-size: 20pt;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-1 a:hover {
  color: #8d8d8d;
}

.ich-img img {
  height: 85vh;
  width: auto;
  position: fixed;
  bottom: 0px;
  left: 40px;
}

.index-ich-img img {
  height: 85vh;
  width: auto;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.ich-mywork-img img {
  height: 85vh;
  width: auto;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

/*Zitat auf index.html*/
.zitat-container {
  position: absolute;
  bottom: 10px;
  right: 100px;
}

.zitat-container p {
  color: white;
  font-size: 50pt;
  font-weight: 700;
  text-align: right;
  text-shadow: 6px 0px 10px black;
}

.zitat-container .under-zitat p {
  font-size: 40pt;
}

.img-mywork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
}

.img-mywork img {
  width: 20vw;
  margin-top: 30%;
}

.vimeo {
  position: absolute;
  top: 70px;
  right: 400px;
  z-index: 100;
}

.vimeo iframe {
  width: 450px;
}

.instagram {
  position: absolute;
  height: 10vh;
  right: 450px;
  top: 450px;
}

.about-container {
  width: 99vw;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 10%;
}

.about-container .left,
.about-container .right {
  width: 30vw;
}

.about-container p {
  font-size: 20pt;
  color: white;
  font-weight: 600;
  text-shadow: 3px 3px 10px black;
}

.about-container h1 {
  color: white;
  font-size: 40pt;
  text-shadow: 3px 3px 10px black;
}

.filmmaking-ich-img img {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 85vh;
}

.filmmaking-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filmmaking-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 120px;
  margin-right: 40px;
}

.filmmaking-img img {
  width: 30vw;
  margin-top: 50px;
}

.filmmaking-text {
  margin-left: 41vw;
  margin-top: 170px;
  margin-right: 20px;
}

.filmmaking-text p {
  color: white;
  font-size: 20pt;
  font-weight: 600;
  text-shadow: 6px 6px 5px black;
}

.filmmaking-text h1 {
  color: white;
  text-align: center;
  line-height: 41pt;
}

.gallery {
  width: 95vw;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gallery img {
  width: 40vw;
  border-radius: 20px;
}

.gallery .v {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

.gallery-body h1 {
  color: white;
  font-size: 90pt;
  margin-top: 120px;
  line-height: 90pt;
  text-align: center;
  text-shadow: 6px 6px 5px black;
}

.idols-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 30vw;
}

.idols-img .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.idols-img .row1 img {
  height: 40vh;
  border-radius: 20px;
}

.idols-img .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 100px;
}

.idols-img .row2 img {
  height: 60vh;
  border-radius: 20px;
}

.idols-body h1 {
  color: white;
  font-size: 90pt;
  text-align: center;
  margin-top: 140px;
}

.im small {
  color: white;
  font-size: 20pt;
  text-align: center;
}

.contactform {
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 120px;
}

.contactform input,
.contactform textarea {
  width: 100%;
  padding: 7px;
  margin-top: 10px;
  border-radius: 10px;
  background: #a0a0a0;
  border: none;
  resize: none;
}

.contactform h1 {
  text-align: center;
  font-size: 90px;
  color: white;
  text-shadow: 6px 6px 5px black;
}

.contactform button {
  background-color: green;
  padding: 15px;
  font-size: 15pt;
  border: none;
  color: white;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 10px;
  border-radius: 60px;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.contactform button:hover {
  background-color: #005300;
}

@media only screen and (max-width: 900px) {
  /*NAVIGATION RESPONSIVE*/
  .nav-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: black;
    height: 500px;
    position: absolute;
    width: 96vw;
  }
  /*FILMMAKING RESPONSIVE*/
  .filmmaking-ich-img {
    display: none;
  }
  .filmmaking-container {
    margin-top: 600px;
    display: block;
  }
  .filmmaking-text {
    width: 95vw;
    display: block;
    margin-left: 1vw;
  }
  .filmmaking-img {
    margin-top: 10px;
  }
  .filmmaking-img img {
    width: 95vw;
  }
  /*GALLERY RESPONSIVE*/
  .gallery-body h1 {
    margin-top: 500px;
  }
  .gallery-body .gallery {
    margin-top: 10px;
  }
  .gallery-body .v {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  .gallery-body .v img {
    width: 95vw;
    height: auto;
    margin-top: 10px;
    border-radius: 0px;
  }
}
/*# sourceMappingURL=style.css.map */